* {
background-color: rgb(241, 238, 243);
}

#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-style: italic;
    
}

.button
{
    color: cornsilk;
    font-size: 18px;
    font-weight: bold;
}